{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bars</h1>

    {% for barImage in barImages %}
        <div style="padding: 6px;">
            <img src="{{ barImage }}">
        </div>
    {% endfor %}

{% endblock %}